.create_note {
  border: 1px solid black;
  margin: 0 10%;
  margin-top: 10px;
}

.create_note .title {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.create_note_form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 20px 0;
}


.create_note_form input{
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.create_note_form textarea {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.create_note_form button {
  font-size: 2rem;
}

