.note-view-wrapper {
  display: flex;
  justify-content: center;
}

.note_view {
  width: 50%;
}

.note_view h2 {
  font-size: 2rem;
  text-align: center;
}

.note_view .tags, .links {
  display: flex;
  padding: 10px 0;
}

.note_view .body {
  padding: 20px;
}

.note_view h3 {
  font-size: 1.5rem;
}

.note_view .edit_button {
  font-size: 2rem;
  padding: 0 20px;
  border: 1px solid black;
}

.note_view .edit_button:hover {
  background-color: #A66D00;
}